header {
  width: 100%;
  top: 0;
  position: fixed;
}

.logo {
  @media (max-width: 980px) {
    left: -50px;
  }
}
nav {
  margin-top: 1rem;
  @media (max-width: 980px) {
    display: none;
    position: absolute;
    z-index: 10000;
    width: 100%;
    background-color: white;
    left: 0;
    top: 140px;
    height: 100vh;
    padding-top: 18vh;
  }
  ul {
    li {
      display: inline;
      margin-left: 0.5rem;
      @media (max-width: 980px) {
        margin-left: 0;
        display: block;
        margin-bottom: 2rem;

        text-align: center;
      }
    }
  }
}

.btn-primary-hover {
  transition: 0.2s;
  &:hover {
    background-color: $color-primary;
    color: white;
  }
}
.btn-black-hover {
  transition: 0.2s;
  &:hover {
    background-color: black;
    color: white;
  }
}
